html,
body {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body {
  font-size: 16px;
  min-height: 100vh;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__top {
  min-height: 100px;
  display: flex;
  align-items: center;
  background-color: rgb(109, 151, 190);
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__item + .menu__item {
  margin-left: 15px;
}

.menu__link {
  color: #fff;
  padding-bottom: 8px;
  position: relative;
  transition: all 1s;
}

.menu__link:hover {
  border-bottom: 2px solid #ccc;
}

.main__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  gap: 15px;
}

.img__main {
  max-width: 340px;
}

.main__text {
  padding-top: 50px;
}

.main__title {
  padding-bottom: 50px;
  padding-left: 50px;
  position: relative;
}

.main-title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 25px;
  left: 46px;
  border-bottom: 3px solid rgb(109, 151, 190);
  width: 50%;
  height: 1px;
}

.main__subtitle {
  font-size: 24px;
}

.about__text {
  padding-top: 15px;
  max-width: 600px;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  color: black;
}

.line {
  padding-top: 15px;
  border-bottom: 3px solid black;
}

.title__contacts {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ccc;
}

.contacts__item {
  padding-left: 20px;
  position: relative;
}

.map__item::before {
  content: "";
  background-image: url(assets/icons/location-map.svg);
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  left: 0;
}
