html,
body {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body {
  font-size: 16px;
  min-height: 100vh;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__top {
  min-height: 100px;
  display: flex;
  align-items: center;
  background-color: rgb(109, 151, 190);
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__item + .menu__item {
  margin-left: 15px;
}

.menu__link {
  color: #fff;
  padding-bottom: 8px;
  position: relative;
  transition: all 1s;
}

.menu__link:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: rgb(0, 0, 0);
}

.main__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  gap: 15px;
}

.img__main {
  border-radius: 50px;
  max-width: 240px;
  transition: all 1s;
}
.img__main:hover {
  transform: scale(1.4);
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.9);
}

.main__text {
  padding-top: 50px;
}

.main__title {
  padding-bottom: 50px;
  padding-left: 85px;
  position: relative;
}

.main__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 25px;
  left: 46px;
  border-bottom: 3px solid rgb(109, 151, 190);
  width: 50%;
  height: 1px;
}

.main__subtitle {
  font-size: 24px;
}

.about__text {
  padding-top: 15px;
  max-width: 600px;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  color: black;
}

.line {
  padding-top: 15px;
  border-bottom: 3px solid black;
}

.contacts__item {
  padding-left: 25px;
  position: relative;
}

.contacts__item + .contacts__item {
  margin-top: 20px;
}

.map__item::before {
  content: "";
  background-image: url(assets/icons/location-map.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  left: 0;
}

.email__item::before {
  content: "";
  background-image: url(assets/icons/email-svgrepo-com.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 18px;
  display: block;
  position: absolute;
  left: 0;
}

.github__item::before {
  content: "";
  background-image: url(assets/icons/git-svgrepo-com.svg);
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  display: block;
  position: absolute;
  left: -3px;
  top: -2px;
}

.telegram__item::before {
  content: "";
  background-image: url(assets/icons/telegram-svgrepo-com.svg);
  background-repeat: no-repeat;
  height: 22px;
  width: 19px;
  display: block;
  position: absolute;
  left: 0;
}

.contacts__link,
.portfolio__link {
  color: rgb(109, 151, 190);
}
.title__contacts,
.my__skills,
.my__coursres,
.portfolio__title,
.english__title {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ccc;
}

.title__contacts:hover,
.my__skills:hover,
.my__coursres:hover,
.portfolio__title:hover,
.english__title:hover {
  color: rgb(109, 151, 190);
  -moz-transform: translate(0px, 1px) skew(-22deg, 0deg);
  -webkit-transform: translate(0px, 1px) skew(-22deg, 0deg);
  -o-transform: translate(0px, 1px) skew(-22deg, 0deg);
  -ms-transform: translate(0px, 1px) skew(-22deg, 0deg);
  transform: translate(0px, 1px) skew(-22deg, 0deg);
}

.skills__item + .skills__item,
.courses__item + .courses__item {
  margin-top: 20px;
}

.skills__item,
.courses__item,
.portfolio__item {
  padding-left: 25px;
  color: rgb(109, 151, 190);
  position: relative;
}

.skills__item::before,
.courses__item ::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(assets/icons/list.svg);
  width: 20px;
  height: 20px;
  left: 0;
}

.skills__item span,
.courses__item span {
  color: #000;
}

.portfolio__item::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(assets/icons/coffe.svg);
  width: 20px;
  height: 20px;
  left: 0;
}

.emglish__text {
  padding-left: 19px;
  font-size: 18px;
  color: rgb(109, 151, 190);
  position: relative;
}

.emglish__text::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(assets/icons/pen-svgrepo-com.svg);
  width: 16px;
  height: 16px;
  left: 0;
  top: 3px;
}

footer {
  margin-top: 10px;
  padding: 25px 0;
  background-color: rgb(109, 151, 190);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.footer__text a {
  color: #fff;
}

.footer__img {
  width: 150px;
}
